<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('server.server') %></th>
    <th><%= t('applications.application') %></th>
    <th><%= t('application_versions.version') %></th>
  </tr>
  </thead>
  <tbody>
  <% application_versions.each do |application_version| %>
    <%= render application_version %>
  <% end %>
  </tbody>
</table>