<tr id="application_version_<%= application_version.id %>">
  <td><%= link_to application_version.server.name, application_version.server %></td>
  <td><%= link_to application_version.application.name, application_version.application %></td>
  <td><%= link_to application_version.application_version ? application_version.application_version : t('general.not_applicable'), application_version %></td>
</tr>