<h1><%= t('general.listing') % t('application_versions.application_versions') %></h1>

<%= render 'application_versions/application_versions', :application_versions => @application_versions %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), application_versions_path(format: 'csv') %>
</div>

