<h1><%= "#{@application_version.server.name.upcase} - #{@application_version.application.name.upcase}" %></h1>
<div class='model_info'>
  <b><%= t('application_versions.version') %>:</b>
  <%= @application_version.application_version ? @application_version.application_version : t('general.not_applicable') %><br/>
  <br />
  <b><%= t('general.created_on') %>:</b>
  <%= @application_version.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @application_version.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>
<b><%= t('application_versions.application_version') %> <%= t('audited.changes') %>:</b>
<%= render partial: 'layouts/audited', locals: {resource: @application_version} %><br/><br/><br/>

<%= link_to t('general.back'), server_path(@application_version.server) %>