<li><%= link_to "Admin Home", admin_path %></li>
<li role="presentation" class="divider"></li>
<% Admin::ADMIN_PAGES.each do |name,attributes| %>
<li><%= link_to name.to_s.titleize, attributes[:path] %></li>
<% end %>