<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t('application.name'), root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('general.views') %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('applications.applications'), applications_path %></li>
            <li><%= link_to t('application_families.application_families'), application_families_path %></li>
            <li><%= link_to t('databases.databases'), databases_path %></li>
            <li><%= link_to t('servers.servers'), servers_path %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to t('data_centers.data_centers'), data_centers_path %></li>
            <li><%= link_to t('environments.environments'), environments_path %></li>
            <li><%= link_to t('tenant_spaces.tenant_spaces'), tenant_spaces_path %></li>
            <li><%= link_to t('zones.zones'), zones_path %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to t('application_family_applications.application_family_applications'), application_family_applications_path %></li>
            <li><%= link_to t('application_versions.application_versions'), application_versions_path %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to t('server_applications.server_applications'), server_applications_path %></li>
            <li><%= link_to t('server_databases.server_databases'), server_databases_path %></li>
            <li><%= link_to t('server_relationships.server_relationships'), server_relationships_path %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to t('audited.audit_log'), audits_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('inventory.inventories') %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('inventory_spreadsheets.inventory_spreadsheets'), inventory_spreadsheets_path unless current_page?(inventory_spreadsheets_path) || current_page?(root_path) %></li>
            <li><%= link_to t('inventory_diagrams.inventory_diagrams'), inventory_diagrams_path unless current_page?(inventory_diagrams_path) %></li>
         </ul>
        </li>
        <% if current_user.has_role?(:admin) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('menu.admin') %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <%= render 'menus/admin' %>
            </ul>
          </li>
        <% end %>
        <li class="divider-vertical"></li>
        <%= render 'menus/my_account', :app_config => APP_CONFIG, :user => current_user, :my_account_path => my_account_path, :gravatar_url => current_user.gravatar_url(:size => 20) %>
        <% else %>
        <% if User.omniauth_providers && User.omniauth_providers.include?(:auth_man) %>
            <li><%= link_to(t('users.login'), user_omniauth_authorize_path(:auth_man)) %></li>
        <% else %>
            <li><%= link_to(t('users.login'), new_user_session_path) %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>