<%= form_for(@server_relationship) do |f| %>
  <% if @server_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server_relationship.errors.count, "error") %> prohibited this server_relationship from being saved:</h2>

      <ul>
      <% @server_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :server_primary %><br />
    <%= f.collection_select :server_primary_id, Server.order(:name),:id,:name %>
  </div>
  <div class="field">
    <%= f.label :server_secondary %><br />
    <%= f.collection_select :server_secondary_id, Server.order(:name),:id,:name %>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.number_field :port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
