<h1><%= t('general.listing') % t('server_relationships.server_relationships') %></h1>

<table id='index_table' class='data_table'>
  <thead>
    <tr>
      <th><%= t('server_relationships.primary_server') %></th>
      <th><%= t('server_relationships.secondary_server') %></th>
      <th><%= t('server_relationships.port') %></th>
      <th><%= t('general.tables.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @server_relationships.each do |server_relationship| %>
    <tr>
      <td><%= server_relationship.server_primary.name %></td>
      <td><%= server_relationship.server_secondary.name %></td>
      <td><%= server_relationship.port %></td>
      <td>
        <%= link_to t('general.show'), server_relationship_path(server_relationship) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), server_relationships_path(format: 'csv') %>
</div>
