<h1><%= t('server_relationships.server_relationship') %></h1>
<div class='model_info'>
  <b><%= t('server_relationships.primary_server') %></b>
  <%= link_to @server_relationship.server_primary.name, @server_relationship.server_primary %><br/>
  <b><%= t('server_relationships.secondary_server') %></b>
  <%= link_to @server_relationship.server_secondary.name, @server_relationship.server_secondary %><br/>
  <b><%= t('server_relationships.description') %>:</b>
  <%= @server_relationship.description %><br/>
  <b><%= t('server_relationships.port') %>:</b>
  <%= @server_relationship.port.to_s %><br/>
  <br />
  <b><%= t('general.created_on') %>:</b>
  <%= @server_relationship.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @server_relationship.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), :back %>