<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('applications.type') %></th>
    <th><%= t('servers.servers') %></th>
  </tr>
  </thead>
  <tbody>
  <% applications.each do |application| %>
    <%= render application %>
  <% end %>
  </tbody>
</table>