<h1><%= t('general.listing') % t('applications.applications') %></h1>

<%= render 'applications', :applications => @applications %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), applications_path(format: 'csv') %>
</div>
