<h1><%= @application.name.upcase %></h1>
<div class='model_info'>
  <b><%= t('applications.type') %>:</b>
  <%= @application.app_type %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @application.created_at.to_formatted_s(:long_ordinal) %><br/><br/>
  <b><%= 'Attributes:' %></b>
  <div id='application_attributes'>
    <%= t('applications.path') %>:
    <%= @application.path ? @application.path : t('general.not_applicable ') %><br/>
    <%= t('applications.sends_emails') %>:
    <%= @application.sends_emails ? t('general.yes') : t('general.no') %><br/>
    <%= t('applications.major_application') %>:
    <%= @application.major_application? ? t('general.yes') : t('general.no') %><br/>
  </div><br/><br/><br/>
  <h3><%= t('servers.servers') %>:</h3>
  <%= render 'servers/servers', :servers => @application.servers %>
  <br />
  <br />
  <h3><%= t('application_families.application_families') %></h3>
  <%= render 'application_families/application_families', :application_families => @application.application_families %>
</div>