<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('applications.applications') %></th>
  </tr>
  </thead>
  <tbody>
  <% application_families.each do |application_family| %>
      <tr>
        <td><%= link_to application_family.name, application_family %></td>
        <td><%= application_family.applications.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>