<tr id="job_<%= job.id %>">
  <td><%= link_to job.job_id, job %></td>
  <td><%= link_to "#{job.statusable_type.to_s.underscore.humanize.split.map(&:capitalize).join(' ')} - #{job.statusable_id}", url_for(:controller => "/#{job.statusable_type.to_s.pluralize.underscore}", :action => :show, :id => job.statusable_id, :only_path => true) %></td>
  <td><%= job.status %></td>
  <td><%= job.completed_at %></td>
</tr>