<table id='jobs_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('jobs.job_id') %></th>
    <th><%= t('jobs.resource') %></th>
    <th><%= t('jobs.status') %></th>
    <th><%= t('jobs.completed_at') %></th>
  </tr>
  </thead>
  <tbody>
  <% jobs.each do |job| %>
    <%= render job %>
  <% end %>
  </tbody>
</table>