<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('applications.applications') %></th>
  </tr>
  </thead>
  <tbody>
  <% servers.each do |server| %>
    <%= render server %>
  <% end %>
  </tbody>
</table>