<h1><%= t('general.listing') % t('servers.servers') %></h1>

<%= render 'servers/servers', :servers => @servers %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), servers_path(format: 'csv') %>
</div>

