<h1><%= @server.name.upcase %></h1>
<div class='model_info'>
  <b><%= t('tenant_spaces.tenant_space') %>:</b>
  <%= @server.tenant_space %><br/>
  <b><%= t('data_centers.data_center') %>:</b>
  <%= @server.data_center %><br/>
  <b><%= t('environments.environment') %>:</b>
  <%= @server.environment %><br/>
  <b><%= t('zones.zone') %>:</b>
  <%= @server.zone %><br/>
  <br/>
  <b><%= t('general.created_by') %>:</b>
  <%= user_string @server %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @server.created_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
  <b><%= t('applications.applications') %>:</b><br/>
  <table id='index_table' class='data_table'>
    <thead>
    <tr>
      <th><%= t('applications.application') %></th>
      <th><%= t('application_versions.version') %></th>
    </tr>
    </thead>
    <tbody>
    <% @server.server_applications.each do |application| %>
        <tr>
          <td><%= link_to application.application.name, application.application %></td>
          <td><%= (application.application_version && application.application_version.application_version) ? link_to(application.application_version.application_version, application.application_version) : t('general.not_applicable') %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br/><br/><br/>
<b><%= t('server.server') %> <%= t('audited.changes') %>:</b>
<%= render partial: 'layouts/audited', locals: {resource: @server} %><br/><br/><br/>

<%= link_to t('general.back'), servers_path %>