<ul style="list-style: none;">
  <% resource.filter_params.each do |k,p| %>
      <% next unless p.is_a?(Hash) && p[:name] %>
      <% key = k.to_s.humanize.titleize %>
      <li><%= (p[:name].is_a?(Array) && p[:name].count > 1) ? key.pluralize : key %>
        <ul style="list-style: none;">
          <% if p[:name].is_a?(String) && p[:name] != '' %>
              <li><%= link_to p[:name], filter_param_link(k, p[:name]) %></li>
          <% elsif p[:name].is_a?(Array) && p[:name].count > 0 %>
              <% p[:name].each do |v| %>
                  <li><%= link_to v, filter_param_link(k, v) %></li>
              <% end %>
          <% else %>
              <li>All</li>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>