<div id="server_filter" style="display: none;">
  <%= t('general.filter') % t('server.server') %>
  <%= form_tag(action_link, method: :get, :remote => true) do %>
      <div class="field">
        <%= label_tag :tenant_space %><br />
        <%= select :tenant_space, :name, TenantSpace.order(:name), {:include_blank => false}, :multiple => true %>
      </div>
      <div class="field">
        <%= label_tag :data_center %><br />
        <%= select :data_center, :name, DataCenter.order(:name), {}, :multiple => true %>
      </div>
      <div class="field">
        <%= label_tag :environment %><br />
        <%= select :environment, :name, Environment.order(:name), {}, :multiple => true %>
      </div>
      <div class="field">
        <%= label_tag :zone %><br />
        <%= select :zone, :name, Zone.order(:name), {}, :multiple => true %>
      </div>
      <div class="field">
        <%= label_tag :application_family %><br />
        <%= select :application_family, :name, ApplicationFamily.order(:name), {:include_blank => true}, :multiple => false %>
      </div>
      <div class="field">
        <%= label_tag :applications %><br />
        <%= select :applications, :name, Application.order(:name), {}, :multiple => true %>
      </div>
      <div class="field" >
        <%= label_tag :save_formats, t('general.save_formats') %><br />
        <%= select_tag :save_formats, options_for_select(save_formats.keys.select{|k| k != :default }, :selected => save_formats[:default].to_s) %>
      </div>
      <div class="actions">
        <%= submit_tag "#{t('general.generate')} #{t('inventory.inventory')}", :onclick => 'server_filter_show_hide();' %>
      </div>
  <% end %>
</div>