<h1><%= t('general.send_via_email_custom') % resource.class.to_s.underscore.humanize.titleize  %></h1>
<%= form_tag(action_link, method: :get) do %>
    <div class="field">
      <%= label_tag :email_addresses %><br />
      <%= text_area_tag :email_addresses %> &nbsp; (<%= t('general.emails.one_per_line') %>)
    </div>
    <div class="actions">
      <%= submit_tag t('general.send_email') %>
    </div>
<% end %>
