<tr id="job_<%= job.id %>">
  <td><%= link_to job.job_id, job %></td>
  <td><%= job.statusable_id ? link_to("#{job.statusable_type.to_s.underscore.humanize.split.map(&:capitalize).join(' ')} - #{job.statusable_id}", url_for(:controller => "/#{job.statusable_type.to_s.pluralize.underscore}", :action => :show, :id => job.statusable_id, :only_path => true)) : t('general.not_applicable')%></td>
  <td><%= job.status %></td>
  <td><%= job.completed_at %></td>
  <td><%= job.user ? "#{job.user} - #{job.user.email}" : t('general.not_applicable') %></td>
</tr>