<h1><%= t('general.listing') % t('jobs.job') %></h1>
<div class='model_info'>
  <b><%= t('general.created_by') %>:</b>
  <%= @job.user ? @job.user.name : t('general.not_applicable') %><br/>
  <b><%= t('jobs.job_id') %>:</b>
  <%= @job.job_id %><br/>
  <b><%= t('jobs.resource') %>:</b>
  <%= link_to "#{@job.statusable_type.to_s.underscore.humanize.split.map(&:capitalize).join(' ')} - #{@job.statusable_id}", url_for(:controller => "/#{@job.statusable_type.to_s.pluralize.underscore}", :action => :show, :id => @job.statusable_id, :only_path => true) %><br/>
  <b><%= t('jobs.status') %>:</b>
  <%= @job.status %><br/>
  <b><%= t('jobs.completed_at') %>:</b>
  <%= @job.completed_at %><br/>
</div>