<h1><%= t('general.listing') % t('audited.audits') %></h1>

<table id='audits_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('audited.resource_name') %></th>
    <th><%= t('audited.resource_type') %></th>
    <th><%= t('audited.associated_resources') %></th>
    <th><%= t('audited.audit_version') %></th>
    <th><%= t('audited.attribute') %></th>
    <th><%= t('audited.original_value') %></th>
    <th><%= t('audited.new_value') %></th>
    <th><%= t('audited.changed_on') %></th>
  </tr>
  </thead>
  <tbody>
  <% @audits.each do |audit| %>
      <% audit.audited_changes.each do |audited_change, values| %>
          <tr>
            <td><%= audit.auditable %></td>
            <td><%= audit.auditable_type %></td>
            <td><%= audit.auditable.respond_to?(:audit_association) ? audit.auditable.audit_association.map { |a| link_to(a.to_s, a) }.join('<br />').html_safe : t('general.not_applicable') %></td>
            <td><%= audit.version %></td>
            <td><%= audited_change %></td>
            <td><%= values && values.is_a?(Array) ? values.first : t('general.not_applicable') %></td>
            <td><%= values && values.is_a?(Array) ? values.last : t('general.not_applicable') %></td>
            <td><%= audit.created_at.to_formatted_s(:long_ordinal) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>