<% @filter_params.each do |k,p| %>
<% next unless p.is_a?(Hash) && p[:name] %>
<% key = k.to_s.humanize.titleize %>
<%= (p[:name].is_a?(Array) && p[:name].count > 1) ? key.pluralize : key %>
<% if p[:name].is_a?(String) && p[:name] != '' %>
    <%= p[:name] %>
<% elsif p[:name].is_a?(Array) && p[:name].count > 0 %>
<% p[:name].each do |v| %>
    <%= v %>
<% end %>
<% else %>
    All
<% end %>
<% end %>