<ul style="list-style: none;">
  <% @filter_params.each do |k,p| %>
      <% next unless p.is_a?(Hash) && p[:name] %>
      <% key = k.to_s.humanize.titleize %>
      <li><%= (p[:name].is_a?(Array) && p[:name].count > 1) ? key.pluralize : key %>
        <ul style="list-style: none;">
          <% if p[:name].is_a?(String) && p[:name] != '' %>
              <li><%= p[:name] %></li>
          <% elsif p[:name].is_a?(Array) && p[:name].count > 0 %>
              <% p[:name].each do |v| %>
                  <li><%= v %></li>
              <% end %>
          <% else %>
              <li>All</li>
          <% end %>
        </ul>
      </li>
  <% end %>
</ul>