<%= render 'inventory_mailer/inventory', { :resource => @resource, :inventory_url => @inventory_url } %>
<br />
<h4><%= t('inventory_mailer.filters_used') %>:</h4>
<%= render 'inventory_mailer/inventory_filtered', { :filter_params => @filter_params } %>

