<%= render 'inventory_mailer/inventory', { :resource => @resource, :inventory_url => @inventory_url } %>

<%= t('inventory_mailer.filters_used') %>:
<%= render 'inventory_mailer/inventory_filtered', { :filter_params => @filter_params } %>

