<h1><%= t('devise.sessions.sign_in') %></h1>

<%= render "devise/shared/links" %>
<div id="login_form" style="display:none">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me %> <%= f.check_box :remember_me %>
          </div>
      <% end -%>

      <div class="actions">
        <%= f.submit t('users.login') %>
      </div>
  <% end %>
  <br />
  <br />
  <br />
  <%= render "devise/shared/local_links" %>
</div>