<%= render 'account/account', :user => @user, :gravatar_url => avatar_url(@user) %>

<div class="panel panel-default">
  <div class="panel-heading"><%= t('user.roles') %></div>

  <table class="table">
    <tr>
      <th><%= t('user.role') %></th>
      <th><%= t('user.role_description') %></th>
    </tr>
    <% @user.roles.sort.each do |r| %>
      <% role_hash = role_formatted(r) %>
      <tr>
        <td><%= role_hash[:name] %></td>
        <td><%= role_hash[:description] %></td>
      </tr>
    <% end %>
  </table>
</div>