displayNotice('Inventory generation has been initiated as job <%= @inventory_spreadsheet.job.job_id %>.');
start_processing_inventories("<%= api_job_path(@inventory_spreadsheet.job.id) %>", "<%= api_inventory_spreadsheet_path(@inventory_spreadsheet.id) %>", "<%= new_email_inventory_spreadsheet_path(@inventory_spreadsheet) %>");