<h1><%= t('general.listing') % t('inventory_spreadsheets.inventory_spreadsheets') %>
  <span class='actions'>
    <%= link_to t('general.generate'), '#', :onclick => 'server_filter_show_hide();' %>
    <%= render partial: 'shared/generate', :locals => { :action_link => generate_inventory_spreadsheets_path, :save_formats => InventorySpreadsheet::SAVE_FORMATS } %>
  </span>
</h1>


<table id='inventory_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('inventory_spreadsheets.spreadsheet') %></th>
    <th><%= t('general.generated_by') %></th>
    <th><%= t('general.generated_at') %></th>
    <th><%= t('general.actions.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @inventory_spreadsheets.each do |inventory_spreadsheet| %>
      <% next unless inventory_spreadsheet.spreadsheet.exists? %>
      <tr>
        <td><%= link_to inventory_spreadsheet.spreadsheet_file_name, inventory_spreadsheet_path(inventory_spreadsheet) %></td>
        <td><%= inventory_spreadsheet.user.name %></td>
        <td><%= format_generated_at inventory_spreadsheet %></td>
        <td>
          <%= link_to t('general.download'), inventory_spreadsheet.spreadsheet.url, target: '_blank' %>
          <%= link_to t('general.send_via_email'), new_email_inventory_spreadsheet_path(inventory_spreadsheet) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
