<p>
  <b><%= t('general.generated_by')%>:</b>
  <%= user_string @inventory_spreadsheet %>
</p>

<p>
  <b><%= t('general.generated_at')%>:</b>
  <%= @inventory_spreadsheet.generated_at %>
</p>

<% if @inventory_spreadsheet.filter_params %>
    <p>
      <b><%= t('servers.filters') %>:</b>
      <%= render 'shared/filter_params', :resource => @inventory_spreadsheet %>
    </p>
<% end %>

<p>
  <b><%= "#{t('general.download')} #{t('inventory_spreadsheets.spreadsheet')}" %>:</b>
  <%= link_to @inventory_spreadsheet.spreadsheet_file_name, @inventory_spreadsheet.spreadsheet.url, target: '_blank' %>
</p>

<h3><%= t('application_versions.application_versions') %>:</h3>
<%= render 'application_versions/application_versions', :application_versions => @inventory_spreadsheet.application_versions %>
<br />
<br />
<h3><%= t('servers.servers') %>:</h3>
<%= render 'servers/servers', :servers => @inventory_spreadsheet.servers %>
<br />
<br />
<%= link_to 'Back', inventory_spreadsheets_path %>
