<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('tenant_spaces.tenant_spaces') %></th>
    <th><%= t('data_centers.data_centers') %></th>
    <th><%= t('environments.environments') %></th>
    <th><%= t('servers.servers') %></th>
  </tr>
  </thead>
  <tbody>
  <% zones.each do |zone| %>
    <%= render zone %>
  <% end %>
  </tbody>
</table>