<tr id="zone_<%= zone.id %>">
  <td><%= link_to zone, zone %></td>
  <td><%= zone.tenant_spaces.count %></td>
  <td><%= zone.data_centers.count %></td>
  <td><%= zone.environments.count %></td>
  <td><%= zone.servers.count %></td>
</tr>