<h1><%= @zone %></h1>
<div class='model_info'>
  <h3><%= t('tenant_spaces.tenant_spaces') %>:</h3>
  <%= render 'tenant_spaces/tenant_spaces', :tenant_spaces => @zone.tenant_spaces %><br />
  <h3><%= t('data_centers.data_centers') %>:</h3>
  <%= render 'data_centers/data_centers', :data_centers => @zone.data_centers %><br />
  <h3><%= t('environments.environments') %>:</h3>
  <%= render 'environments/environments', :environments => @zone.environments %><br />
  <h3><%= t('servers.servers') %>:</h3>
  <%= render 'servers/servers', :servers => @zone.servers %><br />
</div>