displayNotice('Inventory generation has been initiated as job <%= @inventory_diagram.job.job_id %>.');
start_processing_inventories("<%= api_job_path(@inventory_diagram.job.id) %>", "<%= api_inventory_diagram_path(@inventory_diagram.id) %>", "<%= new_email_inventory_diagram_path(@inventory_diagram) %>");