<h1><%= t('general.listing') % t('inventory_diagrams.inventory_diagrams') %>
  <span class='actions'>
    <%= link_to t('general.generate'), '#', :onclick => 'server_filter_show_hide();' %>
    <%= render partial: 'shared/generate', :locals => { :action_link => generate_inventory_diagrams_path, :save_formats => InventoryDiagram::SAVE_FORMATS } %>
  </span>
</h1>


<table id='inventory_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('inventory_diagrams.diagram') %></th>
    <th><%= t('general.generated_by') %></th>
    <th><%= t('general.generated_at') %></th>
    <th><%= t('general.actions.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @inventory_diagrams.each do |inventory_diagram| %>
      <% next unless inventory_diagram.diagram.exists? %>
      <tr>
        <td><%= link_to inventory_diagram.diagram_file_name_without_extension, inventory_diagram_path(inventory_diagram) %></td>
        <td><%= inventory_diagram.user.name %></td>
        <td><%= format_generated_at inventory_diagram %></td>
        <td>
          <%= link_to t('general.download'), inventory_diagram.diagram.url, target: '_blank' %>
          <%= link_to t('general.send_via_email'), new_email_inventory_diagram_path(inventory_diagram) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
