<p>
  <b><%= t('general.generated_by')%>:</b>
  <%= user_string @inventory_diagram %>
</p>

<p>
  <b><%= t('general.generated_at')%>:</b>
  <%= @inventory_diagram.generated_at %>
</p>

<p>
  <b><%= "#{t('general.download')} #{t('inventory_diagrams.diagram')}" %>:</b>
  <%= link_to @inventory_diagram.diagram_file_name, @inventory_diagram.diagram.url, target: '_blank' %>
</p>

<% if @inventory_diagram.filter_params %>
<p>
  <b><%= t('servers.filters') %>:</b>
    <%= render 'shared/filter_params', :resource => @inventory_diagram %>
</p>
<% end %>

<h3><%= t('servers.servers') %>:</h3>
<%= render 'servers/servers', :servers => @inventory_diagram.servers %>
<br />
<br />
<%= link_to 'Back', inventory_diagrams_path %>
