<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('tenant_spaces.tenant_spaces') %></th>
    <th><%= t('data_centers.data_centers') %></th>
    <th><%= t('zones.zones') %></th>
    <th><%= t('servers.servers') %></th>
  </tr>
  </thead>
  <tbody>
  <% environments.each do |environment| %>
    <%= render environment %>
  <% end %>
  </tbody>
</table>