<tr id="environment_<%= environment.id %>">
  <td><%= link_to environment, environment %></td>
  <td><%= environment.tenant_spaces.count %></td>
  <td><%= environment.data_centers.count %></td>
  <td><%= environment.zones.count %></td>
  <td><%= environment.servers.count %></td>
</tr>