<h1><%= @environment %></h1>
<div class='model_info'>
  <h3><%= t('tenant_spaces.tenant_spaces') %>:</h3>
  <%= render 'tenant_spaces/tenant_spaces', :tenant_spaces => @environment.tenant_spaces %><br />
  <h3><%= t('data_centers.data_centers') %>:</h3>
  <%= render 'data_centers/data_centers', :data_centers => @environment.data_centers %><br />
  <h3><%= t('zones.zones') %>:</h3>
  <%= render 'zones/zones', :zones => @environment.zones %><br />
  <h3><%= t('servers.servers') %>:</h3>
  <%= render 'servers/servers', :servers => @environment.servers %><br />
</div>