<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('tenant_spaces.tenant_spaces') %></th>
    <th><%= t('environments.environments') %></th>
    <th><%= t('zones.zones') %></th>
    <th><%= t('servers.servers') %></th>
  </tr>
  </thead>
  <tbody>
  <% data_centers.each do |data_center| %>
    <%= render data_center %>
  <% end %>
  </tbody>
</table>