<tr id="data_center_<%= data_center.id %>">
  <td><%= link_to data_center, data_center %></td>
  <td><%= data_center.tenant_spaces.count %></td>
  <td><%= data_center.environments.count %></td>
  <td><%= data_center.zones.count %></td>
  <td><%= data_center.servers.count %></td>
</tr>