<h1><%= @data_center %></h1>
<div class='model_info'>
  <h3><%= t('tenant_spaces.tenant_spaces') %>:</h3>
  <%= render 'tenant_spaces/tenant_spaces', :tenant_spaces => @data_center.tenant_spaces %><br />
  <h3><%= t('environments.environments') %>:</h3>
  <%= render 'environments/environments', :environments => @data_center.environments %><br />
  <h3><%= t('zones.zones') %>:</h3>
  <%= render 'zones/zones', :zones => @data_center.zones %><br />
  <h3><%= t('servers.servers') %>:</h3>
  <%= render 'servers/servers', :servers => @data_center.servers %><br />
</div>