<h1><%= t('general.listing') % t('databases.databases') %></h1>

<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('databases.name') %></th>
    <th><%= t('databases.dbms') %></th>
    <th><%= t('applications.application') %></th>
  </tr>
  </thead>
  <tbody>
  <% @databases.each do |database| %>
      <tr>
        <td><%= link_to database.name, database %></td>
        <td><%= database.dbms %></td>
        <td><%= link_to(database.application.name, database.application) if database.application %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), databases_path(format: 'csv') %>
</div>
