<h1><%= @database.name.upcase %></h1>
<div class='model_info'>
  <b><%= t('applications.application') %></b>
  <%= @database.application ? @database.application : t('general.not_applicable') %><br/>
  <b><%= t('databases.dbms') %></b>
  <%= @database.dbms %><br/>
  <br />
  <b><%= t('general.created_on') %>:</b>
  <%= @database.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @database.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), :back %>
