<tr id="tenant_space_<%= tenant_space.id %>">
  <td><%= link_to tenant_space, tenant_space %></td>
  <td><%= tenant_space.data_centers.count %></td>
  <td><%= tenant_space.environments.count %></td>
  <td><%= tenant_space.zones.count %></td>
  <td><%= tenant_space.servers.count %></td>
</tr>