<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('general.tables.name') %></th>
    <th><%= t('data_centers.data_centers') %></th>
    <th><%= t('environments.environments') %></th>
    <th><%= t('zones.zones') %></th>
    <th><%= t('servers.servers') %></th>
  </tr>
  </thead>
  <tbody>
  <% tenant_spaces.each do |tenant_space| %>
    <%= render tenant_space %>
  <% end %>
  </tbody>
</table>