<h1><%= @tenant_space %></h1>
<div class='model_info'>
  <h3><%= t('data_centers.data_centers') %>:</h3>
  <%= render 'data_centers/data_centers', :data_centers => @tenant_space.data_centers %><br />
  <h3><%= t('environments.environments') %>:</h3>
  <%= render 'environments/environments', :environments => @tenant_space.environments %><br />
  <h3><%= t('zones.zones') %>:</h3>
  <%= render 'zones/zones', :zones => @tenant_space.zones %><br />
  <h3><%= t('servers.servers') %>:</h3>
  <%= render 'servers/servers', :servers => @tenant_space.servers %><br />
</div>