<tr>
<td><%= link_to server_application.application.name, server_application.application %></td>
<td><%= link_to server_application.server.name, server_application.server %></td>
<td><%= link_to t('general.show'), server_application_path(server_application) %></td>
</tr>