<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('applications.application') %></th>
    <th><%= t('servers.server') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @server_applications.each do |server_application| %>
    <%= render 'server_application', :server_application => server_application %>
  <% end %>
  </tbody>
</table>