<h1><%= t('general.listing') % t('server_applications.server_applications') %></h1>

<%= render 'server_applications', :server_applications => @server_applications %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), server_applications_path(format: 'csv') %>
</div>

