<h1><%= "#{@server_application.server.name.upcase} - #{@server_application.application.name.upcase}" %></h1>
<div class='model_info'>
  <b><%= t('server_applications.description') %>:</b>
  <%= @server_application.description.nil? || @server_application.description.empty? ? t('general.not_applicable') : @server_application.description %><br/>
  <br />
  <b><%= t('general.created_on') %>:</b>
  <%= @server_application.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @server_application.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), :back %>