    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :fname %><br />
      <%= f.text_field :fname %>
    </div>
    <div class="field">
      <%= f.label :lname %><br />
      <%= f.text_field :lname %>
    </div>
    <div class="field">
      <%= f.label :roles %>
      <ul>
        <% User.valid_roles.sort.each do |role| %>
            <% role_hash = role_formatted(role) %>
            <li id="role_<%= role %>"><%= check_box_tag 'user[roles][]', role, @user.roles.include?(role) %> <%= role_hash[:name] %> - <%= role_hash[:description] %></li>
        <% end %>
      </ul>
    </div>