<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('user.users') %>
  </div>
  <div class="panel-body">
    <table class='data_table' id="server_groups_table">
      <thead>
      <tr>
        <th><%= t('admin.users.email_address') %></th>
        <th><%= t('user.name') %></th>
        <th><%= t('admin.users.created') %></th>
        <th><%= t('admin.users.last_login') %></th>
        <th><%= t('general.actions.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr id="user_<%= user.id %>">
            <td><%= link_to user.email, admin_user_path(user) %></td>
            <td> <%= user.name %></td>
            <td><%= user.created_at.strftime(t('general.timestamp_to_str')) %></td>
            <td><%= user.last_sign_in_at ? user.last_sign_in_at.strftime(t('general.timestamp_to_str')) : t('general.not_applicable') %></td>
            <td>
              <%= link_to t('general.actions.edit'), edit_admin_user_path(user) %>
              <% if current_user != user %>
                  <%= link_to t('general.actions.delete'), admin_user_path(user), :confirm => t('general.are_you_sure'), :method => :delete %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if can? :create, User %>
    <span class='actions'>
      <%= link_to t('general.actions.new'), new_admin_user_path, :id => 'new_admin_user_link' %>
    </span>
<% end %>