<h1><%= t('general.new') % t('user.user') %></h1>

<%= form_for(@user, :url => admin_users_path) do |f| %>
    <%= render 'form', f: f %>

    <div class="actions">
      <%= f.submit t('admin.users.send_confirmation_instructions') %>
    </div>
<% end %>
<br />
<br />
<br />
<%= link_to t('general.actions.back'), :back %>
