<h1><%= @user.full_name %></h1>
<%= render 'my_account/my_account', :user => @user, :gravatar_url => current_user.gravatar_url(:size => 64) %>
<br />
<br />
<%= link_to t('general.actions.edit'), edit_admin_user_path(@user) %>