<table id='index_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('applications.application') %></th>
    <th><%= t('application_families.application_family') %></th>
    <th><%= t('general.tables.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% application_family_applications.each do |application_family_application| %>
      <tr>
        <td><%= link_to application_family_application.application.name, application_family_application.application %></td>
        <td><%= link_to application_family_application.application_family.name, application_family_application.application_family %></td>
        <td>
          <%= link_to t('general.show'), application_family_application_path(application_family_application) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>