<h1><%= t('general.listing') % t('application_family_applications.application_family_applications') %></h1>
<%= render 'application_family_applications/application_family_applications', :application_family_applications => @application_family_applications %>
<br />
<br />
<div>
  <%= t('general.download') %>: <%= link_to t('general.csv'), application_family_applications_path(format: 'csv') %>
</div>
