<h1><%= "#{@application_family_application.application_family.name.upcase} - #{@application_family_application.application.name}" %></h1>
<div class='model_info'>
  <b><%= t('general.last_api_check_at') %>:</b>
  <%= @application_family_application.last_checked_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.active') %>:</b>
  <%= @application_family_application.active? ? t('general.yes') : t('general.no') %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @application_family_application.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @application_family_application.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>


<%= link_to t('general.actions.back'), :back %>
<% if user_signed_in? %>
    | <%= link_to t('general.actions.edit'), edit_application_family_application_path(@application_family_application) %>
<% end %>
