<%= form_for(@server_database) do |f| %>
    <% if @server_database.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@server_database.errors.count, "error") %> prohibited this server_database from being saved:</h2>

          <ul>
            <% @server_database.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :server %><br />
      <%= f.collection_select :server_id, Server.order(:name),:id,:name %>
    </div>
    <div class="field">
      <%= f.label :database %><br />
      <%= f.collection_select :database_id, Database.order(:name),:id,:full_name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
