<h1><%= "#{@server_database.server.name.upcase} - #{@server_database.database.name}" %></h1>
<div class='model_info'>
  <b><%= t('databases.dbms') %></b>
  <%= @server_database.database.dbms %><br/>
  <b><%= t('general.created_on') %>:</b>
  <%= @server_database.created_at.to_formatted_s(:long_ordinal) %><br/>
  <b><%= t('general.updated_on') %>:</b>
  <%= @server_database.updated_at.to_formatted_s(:long_ordinal) %><br/><br/><br/>
</div>
<br/><br/><br/>

<%= link_to t('general.actions.back'), :back %>
<% if user_signed_in? %>
    | <%= link_to t('general.actions.edit'), edit_server_database_path(@server_database) %>
<% end %>
