<% audits ||= resource.audits %>
<table id='audited_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('audited.audit_version') %></th>
    <th><%= t('audited.attribute') %></th>
    <th><%= t('audited.original_value') %></th>
    <th><%= t('audited.new_value') %></th>
    <th><%= t('audited.changed_on') %></th>
  </tr>
  </thead>
  <tbody>
  <% audits.each do |audit| %>
    <% audit.audited_changes.each do |audited_change, values| %>
      <tr>
        <td><%= audit.version %></td>
        <td><%= audited_change %></td>
        <td><%= values && values.is_a?(Array) ? values.first : t('general.not_applicable') %></td>
        <td><%= values && values.is_a?(Array) ? values.last : t('general.not_applicable') %></td>
        <td><%= audit.created_at.to_formatted_s(:long_ordinal) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>